<!-- Button Modifier -->

<div class="form-group row">
    <div class="col-lg-1 col-3">
        <input class="btn btn-primary button-size" type="submit" value="Modifier"/>
    </div>
</div>    
           