{% extends "base.html.twig" %}

{% block body %}
               
    <div class="row">
        
        {{ include('Templates/Navigation/userNavSituations.html.twig') }}
                
        <!-- Traitement de l'affichage des situations -->
            
        <section class="col-10 page_content" id="main_page">
                
        </section>
                
    </div>  
            
{% endblock %}
