<!-- Button Retour -->

 <div class="row" style=" margin-bottom: 5%;">
    <div class="offset-2 col-lg-2"> 
        <button class="btn btn-primary" onclick="window.location.href='{{ path('user_index') }}'">Retour</button> 
    </div>
</div> 
           
