<!DOCTYPE HTML>
    <html>
        <head> 
            <meta charset="utf-8"/>
            <html lang="fr">
	    </head>
        
        <body>
                
            <p>Votre compte a été créé !<p><br>
            <p>
                Veuillez activer votre compte en cliquant sur ce lien : <a href="{{url('user_confirm_account', {'id': user.id, 'key': user.registerKey})}}">
                    Confirmation d'inscription
                </a> 
            </p>
                        
        </body>
    </html>
  