
<!-- Navigation dans le profil utilisateur -->

<div class="col-2 user_nav">
    <div class="row">
        <ul class="col-12">
            <div class="row justify-content-around">  
                <h5 class="user_nav_lib">Mon compte</h5>   
            </div>
            <div class="row justify-content-around">
                <li class="user_nav_li" style="margin-top: 15%"><a href="{{path('user_edit')}}">Mon profil</a></li>
            </div>
            <div class="row justify-content-around">
                <li class="user_nav_li" style="margin-top: 15%"><a href="{{path('user_edit_description')}}">Mon entreprise</a></li>
            </div>
            <div class="row justify-content-around">
                <li class="user_nav_li" style="margin-top: 15%; color: white;"><a href="{{path('user_reset_password')}}">Mot de passe</a></li>
            </div>
            <div class="row justify-content-around">
                <li style="margin-top: 15%"><a class="user_nav_li" href="{{path('user_delete')}}">Supprimer le compte</a></li>
            </div>
        </ul>
    </div>
</div>
   
        
        
       
      
     