
<!-- Liste des erreurs -->

{% if errors is defined %}
    <div class="offset-1 col-10 offset-1">
        <div class="alert alert-danger" style="margin-top: 5%">
            {% for error in errors %}
                <div class="row">
                    <div class="col-12 form-error text-center"> 
                        {{ error.message }} 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
                

